#root {
  width: 100%;
  height: 100vh;
}

.App {
  height: 100vh;
  width: 100vw;
}

/* Custom Scrollbar for Sidebar */
.Sidebar ::-webkit-scrollbar {
  width: 6px;
}

.Sidebar ::-webkit-scrollbar-track {
  background: transparent;
}

.Sidebar ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.Sidebar ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
